/* UNIVERSAL SELECTOR */

* {
  margin: 0;
  padding: 0;
  background-color: black;
}

/* ELEMENT SELECTOR */
h1 {
  color: antiquewhite;
}

p {
  color: aqua;
}

/* CLASS SELECTOR */
.pra {
  font-size: 20px;
}

.da {
  text-decoration: underline;
}

/* ID SELECTOR */
#id1 {
  background-color: rgb(173, 100, 3);
}

/* SELECTOR LIST */
h1,
.pra,
#id1 {
  font-size: 50px;
}
